* {
  box-sizing: border-box;
}

body {
  font-size: 120%;
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin: 10px;
}

option {
  font-size: 120%;
  margin: 10px;
}


@media (max-width: 768px) {
  body {
    margin: 3px;
    padding: 0;
  }
  p {
    margin: 3px;
    text-align: justify;
  }
}
