* {
  box-sizing: border-box;
}

body {transition: background-color .5s;}

h1 {
  text-align: center;
  font-family: 'Buda', 'Brush Script MT', cursive;
}

img {
  max-width: 700px;
  height: auto;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-family: 'Slabo 27px', 'Times New Roman', Palatino, serif;
}


.swiper-pagination {
  margin-bottom: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E62528;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Buda', 'Brush Script MT', cursive;
}

#swipeS {
  font-family: 'Miniver', 'Brush Script MT', cursive;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

#appName {
  padding: 4px 2px 4px 20px;
  text-decoration: none;
  font-size: 23px;
  color: #fff;
  font-family: 'Miniver', 'Brush Script MT', cursive;

}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#vessel {
    transition: margin-left .5s;
    padding: 16px;
}


@media (max-width: 700px) {
  body {margin: 5px;}
  img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .swiper-slide {text-align: justify;}
  .swiper-pagination {padding: 5px;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
