* {
  box-sizing: border-box;
}

body {
  background: #E62528;
}

h1 {
  font-family: 'Miniver', 'Brush Script MT', cursive;
  text-align: center;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 400%;
}

h2 {
    font-family: 'Slabo 27px', 'Times New Roman', Palatino, serif;
    text-align: center;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

button {
    background-color: #e7e7e7;
    border: 2px solid #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Slabo 27px', 'Times New Roman', Palatino, serif;
    margin-left: auto;
    margin-right: auto;
}

#container {
  display: block;
  margin-top: 10%;
}


@media (max-width: 700px) {

h1 {font-size: 300%;}

  #container {
    display: block;
    margin-top: 25%;
  }
}
